* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(0, 0, 50);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
}

.mylogo {
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}

.navbar a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
}

.navbar a:hover {
  color: blue;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 50);
  padding: 70px 10%;
}

.content {
  max-width: 600px;
}

.content h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(235, 235, 255);
}

.content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
  color: white;
}

span {
  color: blue;
}

.content p {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: rgb(183, 183, 183);
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.image-container {
  position: relative;
  top: 15%;
  right: 5px;
  width: 500px;
  height: 470px;
  border-radius: 50%;
  background: #022075;
  -webkit-box-shadow: 12px 12px 14px #010d2f, -12px -12px 14px #0333bb;
  box-shadow: 12px 12px 14px #010d2f, -12px -12px 14px #0333bb;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.about-me {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 50);
  padding: 70px 10%;
}

.about {
  max-width: 600px;
}

.image-cover {
  position: absolute;
  top: 26%;
  left: 100px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #022075;
  -webkit-box-shadow: 12px 12px 14px #010d2f, -12px -12px 14px #0333bb;
  box-shadow: 12px 12px 14px #010d2f, -12px -12px 14px #0333bb;
  overflow: hidden;
}

.image-cover img {
  width: 100%;
  height: 110%;
}

.about h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(235, 235, 255);
  position: absolute;
  top: 40%;
  right: 300px;
  text-decoration: underline;
}

.about p {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 500px;
  height: 500px;
  font-size: 20px;
  overflow: hidden;
  color: rgb(183, 183, 183);
}

.my-service h3 {
  color: rgb(235, 235, 255);
  position: absolute;
  top: 220%;
  font-size: 32px;
  font-weight: 700;
  left: 300px;
  text-decoration: underline;
}

.my-service p {
  color: rgb(235, 235, 255);
  position: absolute;
  top: 230%;
  height: 500px;
  left: 100px;
  width: 500px;
  font-size: 25px;
  overflow: hidden;
}

.image-service {
  position: absolute;
  top: 220%;
  right: 100px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #022075;
  -webkit-box-shadow: 12px 12px 14px #010d2f, -12px -12px 14px #0333bb;
  box-shadow: 12px 12px 14px #010d2f, -12px -12px 14px #0333bb;
  overflow: hidden;
}

.image-service img {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
